/.idea
/tmp
/testdata/tmp
/*.vcxproj
/*.filters
/*.user
/CMakeCache.txt
/CMakeFiles
/Win32
/src/fontbm.dir
/src/CMakeFiles
/src/example/example.dir
/src/example/CMakeFiles
/src/tests/CMakeFiles
/src/tests/tests.dir
/bin/Debug/*.pdb
/*.opensdf
/src/tests/tests.vcxproj.filters
/src/tests/tests.vcxproj
/src/example/example.vcxproj.filters
/src/example/example.vcxproj
/*.sdf
/*.sln
/src/cmake_install.cmake
/src/tests/cmake_install.cmake
/src/fontbm.vcxproj.filters
/src/fontbm.vcxproj
/src/example/cmake_install.cmake
/cmake_install.cmake
/testdata/output
/build
/tests/generated
/cmake-build-debug
/.vs
/Release
/Debug
/fontbm.dir
/unit_tests.dir
/fontbm.VC.db
/tests/tmp
/tests/venv
/tests/.idea
/RelWithDebInfo
